:root {
    --dark: black;
    --light: whitesmoke;
    --blue: #2589bd;
    --lightgray: lightgrey;
    --border-radius: 40px;
  }

body {
    margin: 0;
    background-color: var(--dark);
    color: var(--light);
}


h1 {
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeQs94_7kIJ_SMG6rAXX4jf4NQTDTPd3EFVQ&usqp=CAU");
    width: 100%;
    color: var(--light);
    font-size: 7rem;
    font-weight: 400;
    line-height: 100%;
    margin: 1.8rem 0 0 0;
    padding: 3%;
    font-weight: 600;
}

.lead {
    display: flex;
    justify-content: center;
    color: var(--light);
    font-weight: 600;
    font-size: 2rem;
    margin-left: 20px;
}

#search-input {
    width: 90%;
    color: var(--light);
    padding-left: 20px;
}

.card-image {
    display: flex;
    margin-left: 4%;
}

.card-image img {
    display: block;
    size: 125%;
    position: relative;
    width: 125%;
}

.card .card-image {
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 20px;
    margin: 1rem 2rem;
    display: flex;
}

.anime-title {
    position: relative;
    color: var(--light);
    max-width: 100%;
    padding:5px;
    font-size: 30px;
    font-weight: 700;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: medium;
    width: 39.33%;
    margin-left: 6%;

}

.card-content p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150%;
}
.carousel {
    display: flex;
    justify-content: center;
    margin: 4% 5%;
    overflow: hidden;
    position: relative;
    width: 90%;
    height: 300px;
}

.tags {
    margin-left: 10px;
    background-color: var(--dark);
}